{% extends 'recipe/base.html' %}

{% load static custom_filters %}

{% block recipe_extra_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'recipe/style/list.css' %}">
{% endblock recipe_extra_headers %}

{% block foreground %}
	<div class="layer1">
		<div class="layer1-1">
			<form action="" method="get">
				{% csrf_token %}
				{{ search_form.as_p }}
			</form>
		</div>
		<div class="layer1-2">
			<!--div class="ingredient-form">
				<div class="ingredients">
					{% for ingredient in ingredients %}
						<div class="ingredient">
							<div class="ingredient__text">
								<p>{{ ingredient.name }}</p>
							</div>
							<div class="ingredient__del">
								<a href="{% url 'recipe:delete-ingredient-from-search' %}?id={{ingredient.id}}">
									<img src="{% static 'recipe/images/black-cross.png' %}">
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
				<form action="" method="get">
					{% csrf_token %}
					{{ ingredient_form.as_p }}
					<input type="submit" name="">
				</form>
			</div-->
			<!--div class="tag-form">
				<form action="" method="get">
					{% csrf_token %}
					{{ tag_form.as_p }}
				</form>
			</div-->
		</div>
	</div>
	<div class="layer2">
		<div class="recipes">
			<div class="recipes__heading"><!--h1>Résultats :</h1--></div>
			<div class="recipes__content">
				{% for recipe in results %}
					<a class="recipe" href="{% url 'recipe:details' %}?id={{recipe.id}}">
						<div class="recipe__fig">
							<img src="{{recipe.image.url}}">
						</div>
						<div class="recipe__text">
							<div class="title">
								<p>{{ recipe.title }}</p>
							</div>
							<div class="text">
								<div class="infos">
									<div>
										<p>préparation: {{ recipe.prep_duration|hhmmss_to_mins }}</p>
										<p>cuisson: {{ recipe.cook_duration|hhmmss_to_mins }}</p>
									</div>
									<div>
										<p>difficulté: {{ recipe.difficulty }}/10</p>
										<p>note: {{ recipe.grade }}/10</p>
									</div>
								</div>
								<div class="tags">
									{% for tag in recipe.tags.all %}
										<div class="tag"><p>{{ tag.text }}</p></div>
									{% endfor %}
								</div>
							</div>
						</div>
					</a>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock foreground %}