.layer1 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: justify;
	margin-top: 30px;
}

.search-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 40%;
	margin: 30px;
	border: 2px solid black;
	border-radius: 20px;
}

.search-form__heading {
	margin: 10px 0 20px 0;
	width: 100%;
}

.search-form__heading > h1 {
	margin: 0;
	text-align: center;
	font-family: sans-serif;
}

.search-form__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.search-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
}

.search-form .form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.search-form .field-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	font-size: 25px;
	margin: 0 0 20px 0;
	width: 80%;
}

.search-form input[type="text"] {
	font-size: 30px;
	width: 100%;
}

.search-form input[type="checkbox"] {
	transform: scale(1.5);
	margin: 0 10px 0 0;
}

.search-form input[type="submit"] {
	font-size: 25px;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 2px solid grey;
}

.ingredient-form, .tag-form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	margin: 30px;
	width: 30%;
	border: 2px solid black;
	border-radius: 20px;
}

.ingredient-form__heading, .tag-form__heading {
	margin: 10px 0 20px 0;
	width: 100%;
}

.ingredient-form__heading > h1, .tag-form__heading > h1 {
	margin: 0;
	text-align: center;
	font-family: sans-serif;
}

.ingredient-form__content, .tag-form__content {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.ingredients, .tags {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
	margin-bottom: 30px;
}

.ingredient, .tag {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	height: 40px;
	min-width: 100px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 0 5px #9b9b9b;
}

.ingredient__text, .tag__text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	flex: 1;
}

.ingredient__text > p, .tag__text > p {
	margin: 10px;
	font-size: 20px;
}

.ingredient__del, .tag__del {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	aspect-ratio: 1 / 1;
}

.ingredient__del > a, .tag__del > a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.ingredient__del > a > img, .tag__del > a > img {
	max-width: 80%;
	max-height: 80%;
	aspect-ratio: auto;
}

.ingredient-form form, .tag-form form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
}

.ingredient-form .form-container, .tag-form .form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.ingredient-form .field-container, .tag-form .field-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 0 20px 0;
}

.ingredient-form select, .tag-form select {
	font-size: 20px;
}

.ingredient-form input[type="submit"], .tag-form input[type="submit"] {
	font-size: 25px;
	border-radius: 5px;
	margin-bottom: 10px;
	border: 2px solid grey;
}

.layer2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

.recipes {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.recipes__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.recipe {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 700px;
	height: 200px;

	margin: 30px;

	border-radius: 10px;
	box-shadow: 0 0 8px #9b9b9b;

	overflow: hidden;
}

.recipe__fig {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	height: 100%;
	width: 30%;
}

.recipe__fig > img {
	min-width: 100%;
	min-height: 100%;
	aspect-ratio: auto;
}

.recipe__text {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: justify;
	height: 100%;
	width: 70%;
}

.recipe__text p {
	font-size: 20px;
	word-break: break-word;
	text-align: center;
}

.title {
	margin: 0 30px;
	max-height: 34%;
	overflow: hidden;
}

.title > p {
	margin: 5px 0 0 0;
	font-size: 25px;
	font-weight: bold;
}



.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: justify;
	flex: 1;
}


.recipe-infos {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.recipe-infos > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	margin: 0 20px;
}

.recipe-infos > div > p {
	margin: 3px 0;
}






.recipe-tags {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 2px;
}

.recipe-tag {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	margin: 5px;

	border-radius: 5px;
	box-shadow: 0 0 5px #9b9b9b;
}

.recipe-tag > p {
	margin: 5px;
	font-size: 15px;
}




