.foreground {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	margin-top: 50px;
	padding: 50px;
}

.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.field-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	padding: 10px;
	margin: 0 0 20px 0;
}

.field-container > p {
	margin: 0 10px 0 0;
	font-size: 30px;
}

input, textarea, select {
	font-size: 30px;
}
