.layer2 {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	margin-top: 30px;
}

.ingredients {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

.ingredients__content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.ingredient {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 500px;
	height: 200px;

	margin: 30px;

	border-radius: 10px;
	box-shadow: 0 0 8px #9b9b9b;
}

.ingredient > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.ingredient__fig {
	width: 40%;
}

.ingredient__imgwrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	height: 80%;
	border: 1px solid black;
	border-radius: 10px;
	overflow: hidden;
}

.ingredient__imgwrapper > img {
	min-width: 100%;
	min-height: 100%;
	object-fit: cover;
}

.ingredient__text {
	width: 60%;
}

.ingredient__text > p {
	margin: 0 10px;
	word-break: break-word;
	text-align: center;
	font-size: 25px;
}
