{% extends 'base.html' %}

{% load static %}

{% block extra_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'coloc/style/index.css' %}">
{% endblock extra_headers %}

{% block header-title %}
	<h1>La coloc</h1>
{% endblock header-title %}

{% block foreground %}
	<div class="apps">
		<a class="app" href="{% url 'recipe:list' %}"><p>Recettes</p></a>
		<a class="app" href="{% url 'png_creator:index' %}">PNG</a>
		<a class="app" href="#"><p>App 3</p><p>(prochainement ...)</p></a>
	</div>
{% endblock foreground %}