{% extends 'base.html' %}

{% load static %}

{% block extra_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'coloc/style/index.css' %}">
{% endblock extra_headers %}

{% block header-title %}
	<h1>La coloc</h1>
{% endblock header-title %}

{% block foreground %}
	<div class="apps">
		<a class="app" href="{% url 'recipe:list' %}"><p>Recettes</p></a>
		<a class="app" href="#"><p>App 2</p></a>
		<a class="app" href="#"><p>App 3</p></a>
		<a class="app" href="#"><p>App 4</p></a>
		<a class="app" href="#"><p>App 5</p></a>
		<a class="app" href="#"><p>App 6</p></a>
		<a class="app" href="#"><p>App 7</p></a>
		<a class="app" href="#"><p>App 8</p></a>
		<a class="app" href="#"><p>App 9</p></a>
		<a class="app" href="#"><p>App 10</p></a>
		<a class="app" href="#"><p>App 11</p></a>
		<a class="app" href="#"><p>App 12</p></a>
		<a class="app" href="#"><p>App 13</p></a>
		<a class="app" href="#"><p>App 14</p></a>
		<a class="app" href="#"><p>App 15</p></a>
		<a class="app" href="#"><p>App 16</p></a>
		<a class="app" href="#"><p>App 17</p></a>
		<a class="app" href="#"><p>App 18</p></a>
		<a class="app" href="#"><p>App 19</p></a>
	</div>
{% endblock foreground %}