{% extends 'recipe/base.html' %}

{% load static %}

{% block recipe_extra_headers %}
	<link rel="stylesheet" type="text/css" href="{% static 'style/form.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recipe/style/update/ingredient.css' %}">
{% endblock recipe_extra_headers %}

{% block header-title %}
	<h1>Modifier {{ ingredient.name }}</h1>
{% endblock header-title %}

{% block foreground %}
	<form action="" method="post" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
	</form>
	{% if perms.recipe.del_ingredient %}
		<a class="btn btn--red" href="{% url 'recipe:delete-ingredient' %}?id={{ingredient.id}}">Supprimer</a>
	{% endif %}
{% endblock foreground %}
